body {
    background: lightblue;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  

  #redship1{
    width: 100px;
    position: absolute;
    top: 20%;
    right: 70%;
  }


  #redship2{
    width: 100px;
    position: absolute;
    top: 40%;
    right: 60%;
  }

  #redship3{
    width: 100px;
    position: absolute;
    top: 38%;
    right: 20%;
  }

  #redship4{
    width: 100px;
    position: absolute;
    top: 20%;
    right: 30%;
  }


  
  #island1{
    width: 100px;
    position: absolute;
    top: 40%;
    right: 40%;
  }


  #tresor1{
    width: 60px;
    position: absolute;
    top: 38%;
    right: 42%;
  }

  
  #island2{
    width: 100px;
    position: absolute;
    top: 60%;
    right: 70%;
  }

  #tresor2{
    width: 60px;
    position: absolute;
    top: 60%;
    right:73%;
  }

  #ship {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 10%;
  }


  #timer {
    text-align: center;
    color:white;
    background-color: black;
    font-size:30px;
    font-weight: bold;
  }